.login-form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 5px;
}

.form-btn {
    margin-right: 5px;
}

.error {
    color: hsl(0, 50%, 60%);
    background-color: hsl(0, 50%, 90%);
}